<h2>Create new post</h2>
<form method="POST" action="/new">
    <input name="msgUser" type="text" placeholder="Name">
    <input name="msgText" type="text" placeholder="Write something...">
    <button type="submit">Create post</button>
</form>