<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="flex">
    <h1>Create new post</h1>
    <form class="flex" method="POST" action="/new">
        <input name="msgUser" type="text" placeholder="Name">
        <textarea name="msgText" placeholder="Write something..." rows="5" cols="50"></textarea>
        <button class="btn" type="submit">Create post</button>
    </form>
  </body>
</html>