.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

.btn {
    padding: 4px;
    font-size: large;
    cursor: pointer;
    margin-top: 8px;
}

input, textarea {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
}